@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.content {

}

.footer {
}

.footerWrapper {
  max-width: var(--main-content-width);
  padding: var(--spacing-xl) 0;
  margin: 0 auto;
  border-top: 1px solid var(--color-light-gray);
}
